.small-box {
  width: 85%;
  padding-bottom: 32px;

  .resource-box {
    width: 150px;
    display: flex;
    line-height: 16px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    background-color: #7184a4;
    height: 60px;
    margin-bottom: 10px;
    a {
      margin: auto;
      text-decoration: none;
      color: #fff;
    }
  }
}
.resource-button {
  text-decoration: none;
  color: #fff;
  background-color: #402c72;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
.resource {
  margin-bottom: 40px;
  padding-top: 32px;
  p {
    padding-bottom: 8px;
  }
  img {
    width: 300px;
  }
}
.resource-div {
  padding-bottom: 30px;
}
