.small-box {
  width: 85%;
  padding-bottom: 32px;

  .legal-box {
    width: 150px;
    display: flex;
    line-height: 16px;
    text-align: center;
    margin: auto;
    height: 50px;
    margin-bottom: 10px;
    a {
      margin: auto;
    }
  }
}
.resource-button {
  text-decoration: none;
  color: #fff;
  background-color: #402c72;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
.resource {
  margin-bottom: 20px;
  padding-top: 32px;
  p {
    padding-bottom: 8px;
  }
  img{
      width:300px;
      
  }
}
