.author-container{
    padding:40px 0;
    margin: auto;
    width: 90%;
    a{
        text-decoration: none;
        text-transform: capitalize;
    }
}
.profile-image {
display: flex;
align-items: center;
align-content: flex-start;
flex-direction: column;
flex-wrap: wrap;
@media screen and (max-width:600px) {
    align-content: center;
}
img{
    height:200px;
    width: 200px;
    border-radius: 50%;
}
p{
    color: #7285A5;
    text-transform: capitalize;
    font-weight: bold;
}
}

.about-author{
    font-weight: bold;
    text-align: center;
}
.author-link{
    text-transform: capitalize;
}
.author-details{
    text-align: justify;
    white-space: break-spaces;
    
}
.blogpost-author{
    padding:20px 0;
}