.vlog {
    width: 80%;
    margin: auto;
  position: relative;
}
// .vlog-details {
//   position: absolute;
//   border: 5px solid yellow;
//   z-index: 2;
//   display: flex;
//   bottom: 20px;
//   color: #fff;
//   width:80% ;
//   margin:auto;
//   left:0;
//   right:0;
//   justify-content: space-between;
//   .vlog-category {
//     margin-left: 20px;
//   }
// }