.archives{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    margin: auto;
    background-color: #eee;

    @media screen and (max-width:600px) {
          flex-direction: column;
          padding: 0 5%;
    }
  
}
.side-bar{
    flex:1;
    background-color: #7285A5;
    list-style: none;
    padding: 5px 15px;
    color: #fff;
    max-height: 600px;
    margin-bottom: 30px;
    p{
        padding-bottom: 10px;
    }
}
.main-content{
    flex: 3;
    margin:auto;
    text-align: justify;
    padding: 10px 30px;
    
}
.legal-body{
    color:#402C75;
}
.archive h3{
    color:#7285A5;
    padding-bottom:20px;
}
.active-true{
    font-weight: bold;
}
.case-summary{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #7285A5;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    color:white;
    max-width: 600px;
    margin-bottom: 20px;
    a{
        text-decoration: none;
        color:#fff;
    }
}