@import '../index.scss';

.sliderContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  padding: 60px 0px;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    width: 96%;
  }
  .controlButton {
    font-weight: 600;
    font-size: 50px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .slides {
    display: flex;
    flex-direction: row;
    
    a{
     color: #000000; 
     font-weight: bold;
     text-decoration: none;
     
    }

    .slide {
     div{
       display: inline;
     }
     word-wrap: break-word;
      font-size: 14px;
      margin: auto;
      margin: 5px 10px;
      background: $background-grey;
      padding: 10px;
    }
  }
}

.read-more-less--more,
.read-more-less--less {
  font-weight: bold;
}
@media screen and (max-width: 600px) {
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .slide {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .slide {
    width: 33%;
  }
}
