@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200&display=swap');
// colors
$primary-blue: rgb(68, 56, 121);
$background-grey: #eee;
$white: #fff;
$dark-blue: #402c72;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}
